@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* Zerando CSS */

* {
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
}

/* Fundo Tela */

html {
    width: 100%;
    height: 100vh;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: white
}

body {
    background: #2C3333;
    background-size: 1000% 1000%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}



/* Scrollbar */

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
    background-color: #889C9B;
}

::-webkit-scrollbar-track {
    background: #889C9B;
    border-radius: 5px;
    margin-block: 2.5px;
}

::-webkit-scrollbar-thumb {
    background: #B2BEBF;
    border: 1.75px solid #889C9B;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(22, 22, 22, 0.1)
}

/* Header */

header {
    width: 100%;
    height: 7vh;
    background-color: rgba(22, 22, 22, 0.1);
}

.menu-content {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 16px;
}

.logo {
    font-size: 22px;
    letter-spacing: 1px;
    cursor: pointer;
    font-weight: 300;
}

.menu-content .list-itens {
    display: flex;
    list-style: none;
    gap: 10px;
}

.menu-content .list-itens a {
    text-decoration: none;
    color: white;
    padding: 16px;
    transform: 2ms ease-in;
    position: relative;
}

.menu-content .list-itens a:before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 1px;
    background-color: rgb(178, 190, 191);
    transition: all 1.5s ease;
}

.menu-content .list-itens a:hover:before {
    width: 100%;
}

/* Main body */

main {
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main h1 {
    font-family: 'Roboto', sans-serif;
    color: white;
    border: 5px solid white;
    padding: 20px;
    font-size: 50px;
}


/* Animação do nome */
.container {
    border: 10px solid white;
    padding: 100px;
    transition: all 2s ease;
}

.container:hover {
    transition: all 1.5s ease;
    padding: 4px;
}

/* Sobre mim */

.topic-1 {
    display: flex;
    width: 100%;
    background-color: #F5F2E7;
    height: 100vh;
}

.topic-1-contrast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    opacity: 1;
    padding: 30px;
}

.topic-1-contrast h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 86px;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    color: #2C3333;
}

/*.topic-1-img {
    width: 250px;
    height: 250px;
    margin: 0 auto 20px auto;
    background-image: url(/WhatsApp\ Image\ 2022-02-18\ at\ 08.07.28\ \(1\).jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 250px 250px;
}*/

.topic-1-contrast2 {
    display: flex;
    width: 70%;
    background-color: #F5F2E7;
}

.topic-1-contrast2 p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    line-height: 55px;
    text-align: center;
    border-top: 1px solid #3B3936;
    border-bottom: 1px solid #3B3936;
    margin: 200px 0 200px 0;
    width: 100%;
    padding: 0 30px 0 30px;
}

.topic-2 {
    display: block;
    width: 100%;
    background-color: #F5F2E7;
    margin-top: 30px;
    height: 100vh;
    padding-left: 0;
    padding-right: 0%;
}

.topic-2-constrast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: #F5F2E7;
}

.topic-2-constrast h2 {
    font-size: 66px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color:#2C3333;
    padding-top: 20px;
}

.topic-2 p {
    color: black;
    display: inline-block;
    
}

.topic-3 {
    display: flex;
    width: 100%;
    background-color: #F5F2E7;
    margin-top: 30px;
    height: 100vh;
    padding-left: 0;
    padding-right: 0%;
}

.topic-3-constrast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: #395B64;
}

.topic-3-constrast h2 {
    font-size: 46px;
    font-family: 'Roboto', sans-serif;
}

.topic-4 {
    display: flex;
    width: 100%;
    background-color: #F5F2E7;
    margin-top: 30px;
    height: 100vh;
    padding-left: 0;
    padding-right: 0%;
}

.topic-4-constrast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    background-color: #395B64;
}

.topic-4-constrast h2 {
    font-size: 46px;
    font-family: 'Roboto', sans-serif;
}

/* Am i stealing like an artist?*/

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}



/* Footer*/

footer {
    margin: 20px 0 20px 0;
    padding: 0 10px 20px 10px;
    display: flex;
    align-items: center;
    justify-content: end;
}